.main_container{
    width: 90%;
    margin-left: 4rem;
}

.main_container p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
}

.main_container h2{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 1.5rem;
}