
.textareaPost{
    width: 45%;
    padding: 1rem;
    resize: none;
    font-size: 16px;
    margin-right: 1rem;
}

.textareaPost::placeholder{
    color: rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.textareaPost:focus{
    box-shadow: 0 0 2px #00000026;
}



.textareaAndButton{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    width: 60%;
    height: auto;
}

.post{
    margin-bottom: 1rem;
}

.textAreaForm{
    width: 77%;
}