.formData{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.checkbox{
    padding: 1rem;
    border: 1px solid #949494;
    border-radius: 0.5rem;
}

.saveBtn{
    margin-top: 0.5rem;
    width: 7.57rem;
    min-height: 30px;
}
