header{
    height: 5rem;
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 2px solid #fa66381c;
}

header div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}