.App-container{
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 1fr 10fr;
    grid-template: "header header"
                    "nav main";
}

.App-wrapper{
    margin: 0 auto;
    width: 80%;
}

header{
    background: #daf9ff70;
    height: 5rem;
    display: flex;
    grid-area: header;
}

header div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav-list li{
    list-style-type: none;
    padding-bottom: 1rem;
    background: aliceblue;
    height: auto;
}

nav{
    background: #daf9ff70;
    grid-area: nav;
}

main{
    background: #daf9ff70;
}

.main-container{
    grid-area: main;
}

.main-container img{
    width: 100%;
    height: 300px;
}

.menu-user-container{
    display: flex;
}